=begin
#SendX REST API

## Introduction SendX is an email marketing product. It helps you convert website visitors to customers, send them promotional emails, engage with them using drip sequences and craft custom journeys using powerful but simple automations. The SendX API is organized around REST. Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs. The SendX Rest API doesn’t support bulk updates. You can work on only one object per request. <br> 

The version of the OpenAPI document: 1.0.1
Contact: support@sendx.io
Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module SendX
  class ReportsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get CampaignReport Data
    # Retrieve the campaign report data based on the provided campaign id.
    # @param campaign_id [String] The ID of the campaign to retrieve the report data for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_type Type of integration for the report data (optional)
    # @return [ReportData]
    def get_campaign_report(campaign_id, opts = {})
      data, _status_code, _headers = get_campaign_report_with_http_info(campaign_id, opts)
      data
    end

    # Get CampaignReport Data
    # Retrieve the campaign report data based on the provided campaign id.
    # @param campaign_id [String] The ID of the campaign to retrieve the report data for
    # @param [Hash] opts the optional parameters
    # @option opts [String] :integration_type Type of integration for the report data (optional)
    # @return [Array<(ReportData, Integer, Hash)>] ReportData data, response status code and response headers
    def get_campaign_report_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportsApi.get_campaign_report ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling ReportsApi.get_campaign_report"
      end
      # resource path
      local_var_path = '/report/campaign/{campaignId}'.sub('{' + 'campaignId' + '}', CGI.escape(campaign_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'integrationType'] = opts[:'integration_type'] if !opts[:'integration_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKeyAuth']

      new_options = opts.merge(
        :operation => :"ReportsApi.get_campaign_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportsApi#get_campaign_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
